@model IEnumerable<Microsoft.AspNetCore.Identity.IdentityUser>
@{
    ViewData["Title"] = "Kullanıcılar";
}
<p>
    <a asp-action="Register" asp-controller="Account" asp-area="Identity" class="btn btn-sm btn-primary">Yeni Kullanıcı</a>
</p>
<table id="tblRecords" class="table">
    <thead>
        <tr>
            <th class="text-nowrap all">Kullanıcı Adı</th>
            <th class="text-nowrap">E-Posta Doğrulandı Mı ?</th>
            <th class="text-nowrap all" data-orderable="false">Eylemler</thclass="text-nowrap">
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.UserName</td>
                <td>@(item.EmailConfirmed?"Evet":"Hayır")</td>
                <td class="text-nowrap">
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm btn-danger">Sil</a>
                </td>
            </tr>
        }

    </tbody>
    
</table>